<%- include('../partials/head'); %>
  <%- include('../partials/header'); %>
    <%- include('../partials/sidebar'); %>

      <main id="main" class="main">

        <div class="pagetitle">
          <h1>Lacak Pengiriman</h1>
          <nav>
            <ol class="breadcrumb">
              <li class="breadcrumb-item"><a href="index.html">Home</a></li>
              <li class="breadcrumb-item">Pages</li>
              <li class="breadcrumb-item active">Lacak Pengiriman</li>
            </ol>
          </nav>
        </div>

        <section class="sectio dashboard">
          <div class="row">
            <div class="col-lg-6">

              <div class="card">
                <div class="card-body">
                  <h5 class="card-title">Track package now</h5>
                  <!-- General Form Elements -->
                  <div class="row mb-3">
                    <label class="col-sm-2 col-form-label">Resi</label>
                    <div class="col-sm-10">
                      <div class="form-floating mb-3">
                        <textarea class="form-control" placeholder="Enter a tracking numbers, each per line."
                          id="noresi" style="height: 240px;"></textarea>
                        <label for="noresi">Enter a tracking numbers, each per line.</label>
                      </div>
                      <div class="form-floating mb-3">
                        <select class="form-select" id="kurir" aria-label="Floating label select example">
                          <option selected="">-- Select Carriers --</option>
                          <option value="jne">JNE</option>
                          <option value="jnt">J&T</option>
                          <option value="sicepat">SiCepat</option>
                          <option value="tiki">TIKI</option>
                          <option value="pos">POS Indonesia</option>
                          <option value="anteraja">Anter Aja</option>
                          <option value="wahana">Wahana</option>
                          <option value="ninja">Ninja</option>
                          <option value="lion">Lion</option>
                        </select>
                        <label for="kurir">Delivered with carriers</label>
                      </div>
                    </div>
                  </div>
                  <div class="text-center">
                    <button onclick="cekResi()" class="btn btn-primary">Cek Resi</button>
                    <!-- <button type="reset" class="btn btn-secondary">Reset</button> -->
                  </div>
                </div>
              </div>
            </div>

            <div class="col-lg-6">
              <div class="card">
                <div class="card-body">
                  <h5 class="card-title">Delivered Activity</h5>
                  <div class="activity">
                    <div id="hasil"></div>
                  </div>
                </div>

              </div>
        </section>

      </main><!-- End #main -->
      <script src="assets/js/sresi.js"></script>
      <%- include('../partials/footer'); %>